<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name> Fitness Center </display-name>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/jsp/error/error.jsp</location>
    </error-page>

    <context-param>
        <param-name>mail</param-name>
        <param-value>/WEB-INF/classes/config/mail.properties</param-value>
    </context-param>

    <jsp-config>
        <taglib>
            <taglib-uri>customtags</taglib-uri>
            <taglib-location>/WEB-INF/tld/custom.tld</taglib-location>
        </taglib>
    </jsp-config>

    <servlet>
        <servlet-name>main-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/main.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>main-jsp</servlet-name>
        <url-pattern>/jsp/main.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>trainerList-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/trainer_list.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>trainerList-jsp</servlet-name>
        <url-pattern>/jsp/trainer_list.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>reviews-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/reviews.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>reviews-jsp</servlet-name>
        <url-pattern>/jsp/reviews.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registrationReview-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/registration_review.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrationReview-jsp</servlet-name>
        <url-pattern>/jsp/registration_review.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/registration.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration-jsp</servlet-name>
        <url-pattern>/jsp/registration.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>login-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>login-jsp</servlet-name>
        <url-pattern>/jsp/login.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>gallery-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/gallery.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>gallery-jsp</servlet-name>
        <url-pattern>/jsp/gallery.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>contacts-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/contacts.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>contacts-jsp</servlet-name>
        <url-pattern>/jsp/contacts.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>footer-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/util/footer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>footer-jsp</servlet-name>
        <url-pattern>/jsp/util/footer.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>head_link-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/util/head_link.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>head_link-jsp</servlet-name>
        <url-pattern>/jsp/util/head_link.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>header-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/util/header.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>header-jsp</servlet-name>
        <url-pattern>/jsp/util/header.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>trainer_cabinet-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/trainer/trainer_cabinet.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>trainer_cabinet-jsp</servlet-name>
        <url-pattern>/jsp/trainer/trainer_cabinet.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>update_profile-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/trainer/update_profile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>update_profile-jsp</servlet-name>
        <url-pattern>/jsp/trainer/update_profile.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>error-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/error/error.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>error-jsp</servlet-name>
        <url-pattern>/jsp/error/error.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>client_cabinet-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/client/client_cabinet.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>client_cabinet-jsp</servlet-name>
        <url-pattern>/jsp/client/client_cabinet.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>order-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/client/order.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>order-jsp</servlet-name>
        <url-pattern>/jsp/client/order.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>order_payment-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/client/order_payment.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>order_payment-jsp</servlet-name>
        <url-pattern>/jsp/client/order_payment.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>update_profile_client-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/client/update_profile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>update_profile_client-jsp</servlet-name>
        <url-pattern>/jsp/client/update_profile.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>admin_cabinet-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin/admin_cabinet.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_cabinet-jsp</servlet-name>
        <url-pattern>/jsp/admin/admin_cabinet.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>all_info-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/admin/all_info.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>all_info-jsp</servlet-name>
        <url-pattern>/jsp/admin/all_info.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>video-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/video.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>video-jsp</servlet-name>
        <url-pattern>/jsp/video.jsp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>food-jsp</servlet-name>
        <jsp-file>/WEB-INF/jsp/food.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>food-jsp</servlet-name>
        <url-pattern>/jsp/food.jsp</url-pattern>
    </servlet-mapping>





</web-app>